.splitflap {
    margin: 0 auto;

    -webkit-perspective-origin: top center;
    -moz-perspective-origin: top center;
    -ms-perspective-origin: top center;
    perspective-origin: top center;

/*    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;*/
}

th , td, div.flapper.xs{
	color:white;
	border: 1px solid white;
	text-align: center;
}

td .flapper{
	padding: 5px;
}

.jumbotron{
	background-color: black;
	color: white;
	text-align: center;
}

.jumbotron p{
	font-size: 50px;
}

.panel{
	background-color: black;
	color: white;
}

.panel-heading{
	text-align: center;
}

.btn{
	background-color: black;
	color: white;
	border-color: white;
}

.btn:hover{
	background-color: white;
	color: black;
	border-color: black;
}