body{
	background-color: #2f2f2f;
}

th , td, div.flapper.xs{
	color:white;
	border: 1px solid white;
	text-align: center;
}

td .flapper{
	padding: 5px;
}

.jumbotron{
	background-color: black;
	color: white;
	text-align: center;
}

.jumbotron p{
	font-size: 50px;
}

table{
	margin: 0 auto;
}

.panel{
	background-color: black;
	color: white;
	border-style: solid;
	border-color: gray;
}

.panel-heading{
	text-align: center;
}

.btn{
	background-color: black;
	color: white;
	border-color: white;
}

.btn:hover{
	background-color: white;
	color: black;
	border-color: black;
}